{% extends '::base.html.twig' %}

{% block content %}



    <h1 style="color:white">Our Products</h1>

    <table style="color:white" class="table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
    {% for product in products %}

        <tr>
                <td width="100px">
                    <a href="/products/{{ product.category }}/{{ product.slug }}">
                        <img src="{{ product.image }}" height="100px" width="100px">
                    </a>
                </td>

                <td width="150px">
                    <a href="/products/{{ product.category }}/{{ product.slug }}">
                        {{ product.name }}
                    </a>
                </td>

                <td width="400px">{{ product.description }}</td>

                <td width="150px">${{ product.price }}</td>


            <td width="150px"><form action="/add_cart" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                    {#<input type="text" name="quantity" />#}
                    <label for="quantity">Quantity:</label>
                    <select name="quantity" id="quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="submit" value="Add to Cart" />
            </form></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {#<td>#}
        {#<br>#}

        {#<?php#}


{#echo "<br>";#}

        {#$sql = "SELECT * FROM posts";#}
        {#$result = $db->query($sql);#}
        {#echo $db->error;#}
        {#foreach ($result as $row) {#}
        {#echo "<pre>";#}
    {#echo "Title:     $row[title]<br>Author:    $row[author]<br>Date:      $row[date]<br>Contents:  $row[contents]<br><br><br></pre>";#}
        {#}?>#}
    {#</td>#}

    

{% endblock %}
