{% extends '::base.html.twig' %}

{% block content %}
    <h2 style="color:white">{{ product.name }}</h2>

    <table style="color:#c0c0c0" class="table">
    <thead>
    <tr>
        <th>Picture</th>
        <th>Description</th>
        <th>Price</th>
        <th>Cart</th>
    </tr>
    </thead>
    <tbody>
    {#{% for product in products %}#}
    {#not using for loop here because of line 62 in showOneAction#}
    <tr>
        <td width="100px">
            <a href="/products/{{ product.category }}/{{ product.slug }}">
                <img src="{{ product.image }}" height="200px" width="200px">
            </a>
        </td>

        <td width="400px">{{ product.description }}</td>

        <td width="150px">${{ product.price }}</td>
        <td width="200px">
            <form action="/add_cart" method="POST">
                <input type="hidden" name="product_id" value="{{ product.product_id }}" />
                {#<input type="text" name="quantity" />#}
                <label for="quantity">Quantity:</label>
                <select name="quantity" id="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Add to Cart" />
            </form>


        </td>
    </tr>
    </tbody>
    </table>
{% endblock %}